*{
    margin: 0;
    padding: 0;
}

html { height: 100%; }
body { height: 100%; display: flex; }
body > div { flex: 1; }


body {
    overflow: hidden; /* Hide scrollbars */
  }
  
.normal-page {

    background-image: url(slike/pozadina2.png);

}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.naslovILogo {
    background-color: rgba(229, 162, 22, 0.95 );
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 3%;
    margin: auto;
    width: 80%;
}

.naslovILogo h1{
    text-align: center;
    font-weight: 800;
    font-family: sans-serif;
    margin: auto;
}

.Lndg-page {
    background-image: url(slike/Landing-bckg.jpg);
}

.Lndg-header {
    text-transform: uppercase;
}

.Lndg-header h1 {
    color:#3c3c3b;
    font-family: sans-serif;
    font-weight: bolder;
}

.hr {
    border-width: 10px;
}

.btn {
    transition: all 0.3s;
    font-family: sans-serif;
    border-color: #3c3c3b ;
    background-color: rgba(229, 162, 22, 0.95);
    color: #3c3c3b ;
    font-family: sans-serif;
}

.btn:hover {
    color: rgba(229, 162, 22, 0.95);
    background-color: #3c3c3b;
    text-decoration: none;
    transform: scale(1.1);
    border-color:rgba(229, 162, 22, 0.95);
    
}

.page {
    width: 80%;
    margin-top: 1%;
}

.Lndg-logo img {
    width: 30%;
}

.Lndg-head {
    margin-top: 3%;
}

.dropdown {
    padding-right: 20px;
}

.nav-item {
    padding-right: 20px;
    color: white;
}

.bg-light {
    background-color:#3c3c3b !important;
}

.navbar {
    width: 80%;
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color:white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgba(229, 162, 22, 0.95) !important; 
}

.dropdown-menu {
    background-color: rgba(229, 162, 22, 0.90);
    font-weight: bolder;
    font-family: sans-serif;
    font;
}

